<style>
    p img {
        width: 100%;
    }
</style>

{% zone "Header" %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
{% assign imagePath = Model.ContentItem.Content.BlogPost.Image.Paths.first %}
{% if imagePath == nil %}
<header class="rellax masthead" data-rellax-speed="-7"
    style="background-image: url('{{ "~/MaterialDesignTheme/img/post-bg.jpg" | href }}')">
    {% else %}
    <header class="rellax masthead" data-rellax-speed="-7" style="background-image: url('{{ imagePath | asset_url }}')">
        {% endif %}
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1 style="z-index: 9999; position: relative; color: white !important;">
                            {{ Model.ContentItem.DisplayText }}</h1>
                        <h2 style="z-index: 9999; position: relative; color: white !important;" class="subheading">
                            {{ Model.ContentItem.Content.BlogPost.Subtitle.Text }}</h2>
                        <span style="z-index: 9999; position: relative; color: white !important;" class="meta">
                            {% assign format = "MMMM dd, yyyy" | t %}
                            {% assign dateTime = "DateTime" | shape_new: utc: Model.ContentItem.CreatedUtc, format: format | shape_stringify %}
                            {{ "Posted by" | t }} <a style="color: white !important"
                                href="#">{{ Model.ContentItem.Owner }}</a>
                            {{ "on {0}" | t: dateTime | raw }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% endzone %}
    
    <section>
        <div class="container">
            <div class="markdown-body">
            {{ Model.Content.ContentsMetadata | shape_render }}
            {{ Model.Content.MarkdownBodyPart | shape_render }}
            {{ Model.Content.BlogPost-Category | shape_render }}
            {{ Model.Content.BlogPost-Tags | shape_render }}
            </div>

        </div>
    </section>